.left-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--topnav-height);
}

.left-profile__search {
    margin-bottom: 50px;
    position: relative;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.left-profile__search > input {
    height: 100%;
    width: 100%;
    padding: 10px 60px 10px 20px;
    margin: 10px auto;
    font-size: 1rem;
    border-radius: var(--border-radius);
    color: var(--txt-color);
    background-color: var(--main-bg);
}

.left-profile__search > i {
    font-size: 1.5rem;
    position: absolute;
    right: 20px;
}

.left-profile__right {
    display: flex;
    align-items: center;
}

.left-profile__right-item ~ .left-profile__right-item {
    margin-left: 30px;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.notification-item:hover {
    background-color: var(--second-bg);
}

.notification-item > i {
    margin-right: 20px;
    font-size: 1.5rem;
}

.left-profile__right-user {
    display: flex;
    align-items: center;
}

.left-profile__right-user__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.left-profile__right-user__image > img {
    width: 100%;
}

.left-profile__right-user__name {
    font-size: 1rem;
    font-weight: 600;
}
